.container-content {
	width: 100%;
	padding-left: 2%;
}

.container-stundenplan {}

.newslist {
	padding-left: 0px;
	list-style: none;
}

.post {}

.author {
	font-size: x-small;
}

@media (min-width: 992px) {
	.row-overlap {
		margin-left: 73%;
		position: absolute;
		z-index: 1;
	}
}